
@font-face {
  font-family: 'Stempel-Garamond-W01-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
}

/* caveat-regular - latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/caveat-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Caveat'), local('Caveat-Regular'),
       url('../fonts/caveat-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caveat-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/caveat-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caveat-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caveat-v2-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Cheveuxdange';
  font-style: normal;
  font-weight: 400;
  src: local('Cheveuxdange'),
       url('../fonts/Cheveuxdange.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Cheveuxdange.ttf') format('truetype') /* Safari, Android, iOS */
}


body, ul, table, form{
	margin:0;
	padding:0;
	overflow:hidden;
    font-family: Caveat !important;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

#canvas{
	width: 960px;
	height: 600px;
	margin: 100px auto;
}

#book-zoom{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.sj-book{
	width:960px;
	height:600px;
}

.sj-book h1{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size: 38px;
	font-weight: lighter;
	margin: 20px 0;
	color: #333;
	-webkit-text-fill-color: #333;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.005em;
}

.sj-book h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#444;
    font-size:16px;
	letter-spacing:2px;
	font-weight: 400;
}

.sj-book .book-content{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size:16px;
	margin:70px 40px;
}

.sj-book blockquote{
	color:#586078;
	margin:10px 0;
	font-style:italic;
}

.sj-book blockquote:before{
	content: "\201C";
	color:#333D53;
	font-size:20px;
}

.sj-book blockquote:after{
	content: "\201D";
	color:#333D53;
	font-size:20px;
}

.sj-book cite{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	font-weight:200;
	font-style:normal;
	color:#666;
}

.sj-book .book-content .center-pic{
	margin:0;
	text-indent:0;
	text-align:center;
}

.sj-book .zoom-this:hover{
	opacity:0.9;
	cursor:pointer;
}

.sj-book .book-content p{
	text-indent: 18px;
	margin: 20px 0;
	line-height: 22px;
}

.sj-book .left-pic{
	float:left;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:15px;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sj-book .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 10px #3a0b00;
	-moz-box-shadow:0 0 10px #3a0b00;
	-ms-box-shadow:0 0 10px #3a0b00; 
	-o-box-shadow:0 0 10px #3a0b00;
	box-shadow:0 0 10px #3a0b00;
}

.sj-book .page{
	-webkit-box-shadow:0 0 20px rgba(58,11,0,0.6);
	-moz-box-shadow:0 0 20px rgba(58,11,0,0.6);
	-ms-box-shadow:0 0 20px rgba(58,11,0,0.6);
	-o-box-shadow:0 0 20px rgba(58,11,0,0.6);
	box-shadow:0 0 20px rgba(58,11,0,0.6);
}

.zoom-pic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	z-index:999;
}

.zoom-pic img{
	-webkit-box-shadow:0 0 20px #999;
	-moz-box-shadow:0 0 20px #999;
	-o-box-shadow:0 0 20px #999;
	-ms-box-shadow:0 0 20px #999;
	box-shadow:0 0 20px #999;
}

.sj-book .p1,
.sj-book .p2,
.sj-book .p3, 
.sj-book .p2last, 
.sj-book .plast{
	background-color:white;
	background-image:url(../pics/book-covers.jpg) !important;
}

.sj-book .p1{
	background-position:0 0;
}

.sj-book .p1 .side{
	width:5px;
	height:600px;
	position:absolute;
	top:0;
	left:475px;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bbb), color-stop(0.5,  #ddd), color-stop(1,  #bbb));
	background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-moz-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-ms-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-o-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:linear-gradient(left, #bbb, #ddd, #bbb);
	
	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	z-index:100000;

}

.sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	overflow:visible !important;
}

.sj-book .depth{
	background-image:url(../pics/pages-depth.png);
	position:absolute;
	top:7px;
	width:16px;
	height:590px;
}

.sj-book .front-side .depth{
	left:4px;
	background-position:0 0;
}

.sj-book .back-side .depth{
	right:4px;
	background-position:right 0;
}


.sj-book .p2{
	background-position:-480px 0 !important;
}

.sj-book .p3{
	background-position:-1920px 0 !important;
}

.sj-book .p2last{
	background-position:-960px 0 !important;
}

.sj-book .plast{
	background-position:-1440px 0 !important;
}

.sj-book .hard{
	width:480px;
	height:600px;
	background-color:white;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.sj-book .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.sj-book .own-size{
	width:460px;
	height:582px;
	background-color:white;
	overflow:hidden;
}

.sj-book .even{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    background-color: white;
    border: 0px solid #3a0b00;
    border-left: 0px;
}

.sj-book .odd{
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
	background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
    background-color: white;
    border: 0px solid #3a0b00;
    border-right: 0px;
}

.sj-book .loader{
	background-image:url(../pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sj-book .page-number{
	color:#999;
	width:100%;
	bottom:25px;
	position:absolute;
	display:block;
	text-align: center;
	line-height:30px;
	font-size:11px;
}

.sj-book .table-contents{
	font-size:16px;
	width:300px;
	margin:80px auto;
	color:#ccc;
}

.sj-book .table-contents li{
	list-style:none;
	line-height:25px;
}

.sj-book .table-contents span{
	float:right;
}

.sj-book .table-contents a{
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	color:#333;
	margin:2px 0;
	padding:0 10px;
}

.sj-book .table-contents a:hover{
	background:#CAD1EE;
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
}

.sj-book .book-content .capital,
.sj-book .book-content .no-indent{
	text-indent: 0;
}

.sj-book .capital:first-letter {
    display:block;
    float:left;
    font-size: 300%;
    line-height: 70%;
	margin-right: 6px;
	margin-top: 7px;
	margin-left:18px;
}

.ie8 .sj-book .even,
.ie9 .sj-book .even{
	background-image:url(../pics/gradient-page-left.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}

.ie8 .sj-book .odd,
.ie9 .sj-book .odd{
	background-image:url(../pics/gradient-page-right.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}
.evenPage{
	background-image:url(../pics/gradient-page-left.png);
	background-position:right top;
	background-repeat:repeat-y;
    height:100%;
    width:10%;
    position: absolute;
    top:0px;
    right: 0px;
}

.oddPage{
	background-image:url(../pics/gradient-page-right.png);
	background-position:left top;
	background-repeat:repeat-y;
    height:100%;
    width:10%;
    position: absolute;
    top:0px;
    left: 0px;
}


ul.polaroids
{
    text-align: center;
    height: 100%;
}

ul.polaroids li {
    display: inline-block;
    height: 100%;
}

ul.polaroids a {
    background: #fff;
    display: inline;
    float: left;
    margin: 0 0 27px 30px;
    width: auto;
    padding: 10px 10px 10px;
    text-align: center;
    font-family: "Marker Felt",sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    -webkit-box-shadow: 0 3px 6px rgba(58,11,0,.6);
    -moz-box-shadow: 0 3px 6px rgba(58,11,0,0.6);
    -webkit-transform: rotate(-2deg);
    -webkit-transition: -webkit-transform .15s linear;
    -moz-transform: rotate(-2deg);
    height: 90%;
}

ul.polaroids li {
    padding-left: 0;
}


ul.polaroids img {
    display: block;
    width: 190px;
    margin-bottom: 0px;
    height: 100%;
}

ul.polaroids a:after {
  content: '';
  font-size: 0.5em;
}
ul.polaroids li:nth-child(even) a {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

ul.polaroids li:nth-child(3n) a {
    -webkit-transform: none;
    position: relative;
    top: -5px;
    -moz-transform: none;
}

ul.polaroids li:nth-child(5n) a {
    -webkit-transform: rotate(5deg);
    position: relative;
    right: 5px;
    -moz-transform: rotate(5deg);
}

ul.polaroids li:nth-child(8n) a {
    position: relative;
    right: 5px;
    top: 8px;
}

ul.polaroids li:nth-child(11n) a {
    position: relative;
    left: -5px;
    top: 3px;
}

ul.polaroids li.messy a {
    margin-top: -400px;
    position: relative;
    left: 160px;
}

ul.polaroids li a:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-box-shadow: 0 3px 6px rgba(58,11,0,.8);
    -moz-box-shadow: 0 3px 6px rgba(58,11,0,.8);
    position: relative;
    z-index: 5;
}

.container-fluid {
  height: 100%;
  padding: 20px;
}

.row-top {
  height:10%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-title {
  height:10%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-first {
  height:40%;
  overflow: hidden;
  padding:10px;
  text-overflow: ellipsis;
}
.row-second {
  height:30%;
  overflow: hidden;
  padding-top:10px;
}
.date
{
    text-align: right;
    width:100%;
    font-weight: bold;
    font-size: 1.5em;
}
.title{
      font-family: Cheveuxdange !important;
    font-size: 2em;
    text-align:center;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.desc
{
    width: 100%;
    display: inline-block;
    overflow: hidden;
}
.row-third {
  height:10%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.full-height
{
    height: 100%;
}

/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}


.gray
{
    background-image: url("../pics/gray.png") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: #000;

}

.light
{
    background-image: url("../pics/light.jpg") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: #000;

}

.white
{
    background-image: url("../pics/white.jpg") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: #000;

}

.slate
{
    background-image: url("../pics/slate.png") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: white;

}

.coffee
{
    background-image: url("../pics/coffee.png") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: #FFF;

}



.dark
{
    background-image: url("../pics/dark.jpg") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: #FFF;

}
.tan
{
    background-image: url("../pics/tan.jpg") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: #FFF;

}
.lightc
{
    background-image: url("../pics/lightc.jpg") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: #000;

}

.writing
{
    background-image: url("../pics/writing.png") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: #000;

}
.legal
{
    background-image: url("../pics/legal.png") !important;
    background-repeat: repeat;
    -moz-box-shadow:    inset 0 0 10px #3a0b00;
   -webkit-box-shadow: inset 0 0 10px #3a0b00;
   box-shadow:         inset 0 0 10px #3a0b00;
   color: #000;

}

.main {
    width: 100%;
    height: 100%;
}
.mainText
{
    width:100%;
    text-align: center;
  font-family: 'Cheveuxdange' !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #3a0b00;
}


.firstDesc
{
    font-size: 2em;
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.mainTitle
{
    font-size: 4em;
}
